@font-face {
  font-family: Delius;
  src: url('recursos/fuentes/Delius-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
:root {
  --rtc-primary-color: #ebb762ff;
  --rtc-background-color: #f9f3ebff;
  --rtc-tertiary-color: #263238ff;
  --rtc-header-background-color: #94ab995f;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: var(--rtc-tertiary-color);
  font-family: 'Delius', normal;
}
body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: var(--rtc-background-color);
}
header {
  box-sizing: border-box;
  width: 100%;
  background-color: var(--rtc-header-background-color);
  font-size: 18px;
  display: flex;
  padding: 0.3%;
}
header > img {
  width: 150px;
  height: 125px;
}
header > nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.nav-list {
  padding-left: 10%;
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}
button {
  font-size: 18px;
  width: 120px;
  height: 50px;
  border-radius: 5px 15px 5px 15px;
  border: none;
  background-color: var(--rtc-primary-color);
}
span {
  color: var(--rtc-primary-color);
}

.hero {
  margin: 40px 20px 40px 20px;
  display: flex;
  flex-wrap: wrap;
  font-size: 26px;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
}
.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 40%;
  width: 40%;
}
p {
  font-size: 24px;
}
.hero_img {
  width: 35%;
  height: auto;
}
footer {
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  background-color: var(--rtc-header-background-color);
  gap: 40px;
}
.first-child {
  font-weight: bold;
}
.menu-icon {
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .nav-list {
    display: none;
  }

  .menu-icon {
    display: block;
    position: absolute;
    right: 40px;
    top: 7.5%;
    transform: translateY(-50%);
  }
}
@media (max-width: 1000px) {
  .hero {
    margin: 0%;
    flex-direction: column;
  }

  .hero-text {
    margin: 10%;
    width: 70%;
  }
  .hero_img {
    width: 70%;
    margin-bottom: 10%;
  }
}
