@font-face {
  font-family: Delius;
  src: url('recursos/fuentes/Delius-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
:root {
  --rtc-primary-color: #ebb762ff;
  --rtc-background-color: #f9f3ebff;
  --rtc-tertiary-color: #263238ff;
}

* {
  margin: none;
  padding: none;
  list-style: none;
  text-decoration: none;
  color: var(--rtc-tertiary-color);
  font-family: 'Delius', normal;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-color: var(--rtc-background-color);
}
header {
  font-size: 18px;
  display: flex;
  padding: 0.3%;
}
header > img {
  width: 150px;
  height: 125px;
}
header > nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.nav-list {
  padding-left: 10%;
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}
button {
  font-size: 18px;
  width: 120px;
  height: 50px;
  border-radius: 5px 15px 5px 15px;
  border: none;
  background-color: var(--rtc-primary-color);
}
button:hover {
  background-color: darken(var(--rtc-primary-color), 10%);
}
span {
  color: var(--rtc-primary-color);
}

.hero {
  display: flex;
  margin: 75px 115px 75px 115px;
  font-size: 26px;
  justify-content: space-around;
  align-items: center;
}
.hero-text {
  padding: 20px;
  width: 600px;
  height: 300px;
}
p {
  font-size: 24px;
}
.hero_img {
  width: 450px;
  height: 450px;
}

footer {
  font-size: 11px;
  background-color: var(--rtc-background-color);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: auto;
}
.copyright {
  margin-bottom: 0%;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  color: var(--rtc-tertiary-color);
  font-size: 11px;
}
