@font-face {
  font-family: Delius;
  src: url('recursos/fuentes/Delius-Regular.ttf') format('truetype'); 
  font-style: normal; 
  font-weight: normal;
}

:root{
  --rtc-primary-color: #ebb762ff
  --rtc-background-color: #f9f3ebff
  --rtc-teritiary-color: #263238ff
}
*{
  margin: none;
  padding: none;
  list-style: none;
  text-decoration: none;
  color: #263238ff;
  font-family: 'Delius', normal;
  box-sizing: border-box;
}
body{
  background-color: #f9f3ebff;
}
header{
  display: flex;
  padding: 0.3%;
}
header>img{
  width: 150px;
  height: 125px;
}
header>nav{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.nav-list{
  padding-left: 10%;
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}
button{
  width: 90px;
  height: 40px;
 border-radius:  5px 15px  5px 15px;
 border: none;
 background-color: #ebb762ff ;
} 
span{
  color:#ebb762ff ;
}